<footer class="footer-distributed">

         <!-- <div class="footer-right"> -->

            <!-- <a href="https://www.facebook.com/whereisrachel2015" target="_blank"><i class="fa fa-facebook"></i></a> -->
            <!-- <a href=""><i class="fa fa-github"></i></a> -->
             <!-- <a href="WhereIsRachel.apk" title="download android apk"><i class="fa fa-android"></i></a> -->

         <!-- </div> -->

<!--          <div class="footer-left" style="background-color: #2E2E2E">

            <p class="footer-links">
               <a href="#/">Home</a>
               ·
               <a href="#/about">About</a>
               ·
               <a href="#/faq">Faq</a>
               ·
               <a href="#/contact">Contact</a>
            </p>

            <p>WhereIsRachel &copy; 2015</p>
         </div> -->

      </footer>